# ########################################################### #
# this file is maintained by ansible-powerline-go             #
# see: https://github.com/pridkett/ansible-powerline-go       #
# changes may be overwritten by future invocations of ansible #
# ########################################################### #

set -x GOPATH $HOME/go

{% if powerline_go.fish_additional is defined %}
{{ powerline_go.fish_additional }}
{% endif %}
function fish_prompt
    set errstatus $status
    set duration (math -s6 "$CMD_DURATION / 1000")
    # make it so error status only appears the first time a command has an error
    # this also blows up CMD_DURATION, so we use LAST_CMD_DURATION if you really
    # need the time
    if [ "$duration" = "0" ]
        set errstatus 0
    else
        set -gx LAST_CMD_DURATION $CMD_DURATION
    end
    set -gx CMD_DURATION ""
{% if powerline_go.modules is defined %}
    set MODULES -modules {{ powerline_go.modules }}
{% else %}
    set MODULES ""
{% endif %}
    eval $GOPATH/bin/powerline-go -hostname-only-if-ssh -colorize-hostname -error $errstatus -duration $duration -jobs (jobs -p | wc -l) $MODULES
end
