# ########################################################### #
# this file is maintained by ansible-powerline-go             #
# see: https://github.com/pridkett/ansible-powerline-go       #
# changes may be overwritten by future invocations of ansible #
# ########################################################### #

set -x GOPATH $HOME/go
function fish_prompt
    set duration (math -s6 "$CMD_DURATION / 1000")
{% if powerline_go.modules is defined %}
    set MODULES -modules {{ powerline_go.modules }}
{% else %}
    set MODULES ""
{% endif %}
    eval $GOPATH/bin/powerline-go -colorize-hostname -duration $duration -error $status $MODULES -shell bare
end
